*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-header{
    min-height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
    }
    
}
nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}
nav img{
    width: 100px;
    padding-left: 40px;
    padding-top: 20px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color:#fff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    /*transform: translate(-50%,-50%);*/
    text-align: center;
}
.text-box h1{
    font-size: 75px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: #fff;
}
.hero-btn{
    display: inline;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: #f44336;
    position: relative;
     cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: grey;
    transition: 1s;
}

/*.......Services--------*/

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 35px;
}
 h1{
font-size: 36px;
font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
 }
 .services-col{
    flex-basis: 31%;
    background: #acbce6;
    border-radius: 85px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 h3{
    text-align: center;
    color: black;
    font-weight: 600;
    margin: 10px 0;
 }
 .services-col:hover{
    box-shadow: 0 0 20px 0px #f44336;
 }

 /*......medical facilities.....*/

 .facility{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue ;
 }
 .facility-col{
    flex-basis: 32%;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 .facility-col img{
    width: 100%;
 }
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.layer:hover{
    background:rgba(248, 239, 239, 0.7) ;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: blue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*.......testimonials.....*/

.testimonials{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 5px;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: left;
    background: #f39a88;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    width: 30%;
    border-radius: 50%;
    height: 30px;
    margin-left: 5px;
    margin-right: 20px;
}
.testimonial-col p{
    padding: 0;

}
.testimonial-col h3{
    margin-top: 0px;
    text-align: left;
}
.testimonial-col .fa{
    color: grey;
}

/*.......Call to action....*/

.cta{
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner-cta.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*.........footer.....*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;  
}

/*.........About page.....*/

.about{
    width: 100%;
    padding: 50px 0px;
    padding-bottom: 50px;
}
.about img{
    height: fit-content;
    width: 500px;
}
.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: auto;
}
.about-text p{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: auto;
}


